html{
    height: 100%;
    width: 100%;
    margin: 1px;
    overflow: hidden;
}

body {
    position: relative;
    height: 99%;
    width: 99%; 
    margin: 0px;
    padding: 0px;
    background-color: #222222;
}
div{
    padding:0px;
    margin: 0px;
}
.sideContainer{
    position: absolute;
    height: 100%;
}
#LeftSide{
    left: 0px;    
    float: right;
    width: 25%;
    background-color: #222222;
    border-right: solid 1px red;
}
#RightSide{
    right: 0px;
    width: 75%;
    background-color: #222222;
    border-right: solid 1px #343434;
    border-top: solid 1px #343434;
    border-bottom: solid 1px #343434;
    
}

#canvas{
    position: absolute;
    left: 5%;
    top: 5%;

    background-color: white;
    border: 1px solid #171717;
}

.componentContainer{
    color: #81BE00;

    background-color: #363636;
    border: 1px solid #171717;

    width: 95%;
    min-height: 50px;
    
    position: relative;
    padding: 0px;
    margin: 0px;
    text-align: center;
    font-weight: 900;

}
#Title{
    top:10px;
    border-radius: 5px;
}

 
label{ 
    margin: auto;
    padding: 0px;
    display: block;
    width: 95%;   
    height: 25px;
}